{% extends "base.html" %}
{% load staticfiles %}
{% load cms_tags staticfiles sekizai_tags menu_tags boxes%}
{% block banner %}
    <!--banner start-->
        <div class="info_banner">
            <div id="logo" class="rel wrapper">
{#            {% render_model request.current_page.tagextension "dd"%}#}
                {% placeholder 'Info Banner' or%}<img src="{% static "images/research_cooperation.jpg" %}">{% endplaceholder %}
{#            <img src="{{ MEDIA_URL }}{{ request.current_page.tagextension.info_banner}}">#}
            </div>
        </div>
<!--banner end-->
{% endblock %}


{% block index_area %}
    <!--banner end-->
<!--main start-->
<div class="main wrapper">
{#{% page_attribute "page_title" 13 as title %}#}
{#	<div class="current"><a href="./../../../index.html">首页</a>&nbsp;&raquo;&nbsp;解决方案&nbsp;&raquo;&nbsp;远程教学</div>#}
	<div class="current">{{ request.current_page|small_menu|safe }}</div>
	<div class="Left_box">
		<div class="Box3 min_height"> <img src="{% static 'images/round_top.jpg' %}" class="fl"/>
			<div class="package">
				<div class="pro_three">
                    {% placeholder  "Post Boxes" %}

				</div>
			</div>
			<img src="{% static "images/round_bottom.jpg" %}" class="fl"/> </div>
	</div>
     {% static_placeholder  "Globle RB" %}
     {% placeholder  "RB" %}


	<div class="clear"></div>
</div>

<!--main end-->
{% endblock  %}
