{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% block banner %}
    {% include "content/banner.html" %}
{% endblock %}


{% block index_area %}
    <!--banner end-->
<!--index-area start-->
<div class="index-area">
	<div class="wrapper1">

		<!--中间排版-->
<div class="center">

     {% placeholder  "boxes" %}


  </div>
		<!--<div class="solu w980 mla mra h350 mb30">
			<div class="so_img fl"><a href="./solutions/solution1/solution_detail/speedup.html" title="视频播出加速"><img src="http://www.ruiboyun.net/banner/small/speed.jpg" alt="" /></a></div>
			<div class="so_txt fl">
				<h2 class="f44 pl2 h100 mt20"><a href="./solutions/solution1/solution_detail/speedup.html" title="视频播出加速">视频播出加速</a></h2>
				<p>通过睿博云视频加速平台，企业无需托管主机，无需租用昂贵的带宽，无需运维投入，就会拥有低成本、高质量、大并发的互联网视频播出服务能力。</p>
			</div>
		</div>-->
		<div class=" clear"></div>
	</div>

</div>
<!--index-area end-->
{% endblock  %}
