{% load staticfiles  %}
{#<div class="jiaoxue" style="background-color: #ffffff;">#}
<div class="jiaoxue" style="background-color: {{ instance.background_color }};">
      <div class="spjx" >
        <div class="{% if instance.img_location == "lpic465" %}rtxt510{% else %}txt510{% endif %}">
          <h2 class="jx44" >
            <a href="{{ instance.url }}" title="{{ instance.title }}">{{ instance.title }}</a>
          </h2>
		  <p >{{ instance.body|safe }}</p>
		  <div class="w50 mt20" >
             <a href="{{ instance.url }}" title="{{ instance.title }}">更多 >></a>
          </div>
        </div>
        <div  class="{{ instance.img_location }}" ><a href="{{ instance.url }}" title="{{ instance.title }}"><img src="{{ MEDIA_URL }}{{ instance.coverImg }}" /></a></div>
      </div>
</div>