{% load staticfiles  %}
{% load cms_tags  boxes %}
<div class="bewrite info_intro">
    <h3 class="f18">{{ instance.title }}</h3>
    <ul class="list_04" style="margin-bottom:15px;">
            {{ instance|list04|safe }}
{#        <li><b>现场教学活动实时直播</b></li>#}
{#        <p style="margin-left:10px">现场视频、PPT讲稿、PC桌面、手写稿、黑板板书、图片、视频文件实时直播，使用高清摄像设备对老师的授课过程进行采集编码，保障视频影像的最佳质量。</p>#}
{#        <li><b>采集软件功能强大、易于操作</b></li>#}
{#        <p style="margin-left:10px">功能强大、易于操作的教学采集软件，是一个远程教学的操作平台，为老师提供直观的视频画幅和编码质量配置、镜头角度和聚焦调整、音量调节和静音、麦克设置、开场欢迎画面和中场休息画面插入、PPT插入、手稿插入、屏幕分享等功能。</p>#}
{#        <li><b>多机位直播</b></li>#}
{#        <p style="margin-left:10px">支持在一场教学活动中多个机位同步直播，一个机位上支持多个摄像设备无停顿的直播画面切换。</p>#}
{#        <li><b>稳定的播出服务</b></li>#}
{#        <p style="margin-left:10px">自主研发的媒体服务器系统，提供7*24稳定播出服务，一台服务器可以为每场教学活动提供超过1000个收看终端的支撑。</p>#}
{#        <li><b>灵活的管理平台</b></li>#}
{#        <p style="margin-left:10px">功能强大的、易用的直播服务管理平台，企业可以通过该平台制定和审核教学计划，监控教学活动，邀请和授权观看用户，管理历史课件。</p>#}
{#        <li><b>播放认证和授权</b></li>#}
{#        <p style="margin-left:10px">由媒体服务器和管理平台联合对访客身份进行认证，只有经过授权的用户才可以观看直播内容，确保任何个人或窃取工具无法绕过身份认证。</p>#}
{#        <li><b>点播和回看</b></li>#}
{#        <p style="margin-left:10px">教学视频在服务器上实时归档，课程结束后即可提供视频点播服务。提供视频文件的信息查询、移动、下载等管理功能。</p>#}
    </ul>
    <div class="bor"></div>
</div>