
/*菜单menu1~...*/
.fzz_menu_1 {
    /*不会用，设置无效...一级菜单共用*/
    width:140px !important;
    top: 60px !important;
    left: 200px;
}
/*  menu1*/
.fzz_cms_dragarea-103 {
    width:140px !important;
    top: 150px !important;
    left: 260px !important;
}
/*  menu2*/
.fzz_cms_dragarea-99{
    width:140px !important;
    top: 150px !important;
    left: 400px !important;
}
/*  menu3*/
.fzz_cms_dragarea-101{
    width:140px !important;
    top: 150px !important;
    left: 540px !important;
}
/*  menu4*/
.fzz_cms_dragarea-113{
    width:140px !important;
    top: 150px !important;
    left: 660px !important;
}
/*  menu5*/
.fzz_cms_dragarea-115{
    width:140px !important;
    top: 150px !important;
    left: 780px !important;
}
/*  menu6*/
.fzz_cms_dragarea-117{
    width:140px !important;
    top: 150px !important;
    left: 900px !important;
}


/*end菜单menu1~...*/

/*顶级菜单*/
/*  顶级菜单1*/
.fzz_cms_dragarea-95{
    width:140px !important;
    top: 30px !important;
    left: 100px !important;
}
/*  顶级菜单2*/
.fzz_cms_dragarea-88{
    width:140px !important;
    top: 30px !important;
    left: 240px !important;
}
/*  顶级菜单3*/
.fzz_cms_dragarea-105{
    width:140px !important;
    top: 30px !important;
    left: 380px !important;
}
/*  顶级菜单4*/
.fzz_cms_dragarea-107{
    width:140px !important;
    top: 30px !important;
    left: 520px !important;
}
/*  顶级菜单5*/
.fzz_cms_dragarea-109{
    width:140px !important;
    top: 30px !important;
    left: 640px !important;
}
/*  顶级菜单6*/
.fzz_cms_dragarea-111{
    width:140px !important;
    top: 30px !important;
    left: 760px !important;
}
/*end顶级菜单*/

/*图片轮转*/
.fzz_cms_dragarea-7{
    width:600px !important;
    top: 300px !important;
    left: 300px !important;
}
/*end图片轮转*/
/*首页中间盒子*/
.fzz_cms_dragarea-6{
    width:600px !important;
    /*top: 300px !important;*/
    left: 300px !important;
}
/*end首页中间盒子*/

/*footer*/
.fzz_cms_dragarea-8 {
    width:140px !important;
    left: 230px !important;
}
.fzz_cms_dragarea-12 {
    width:140px !important;
    left: 570px !important;

}
.fzz_cms_dragarea-16 {
    width:140px !important;
    left: 900px !important;
}
/*end footer*/
/*常规页面 顶部图片*/
.fzz_cms_dragarea-76 {
    width:600px !important;
    left: 300px !important;
    top: 90px !important;
}
/*end常规页面 顶部图片*/
/*右侧盒子*/
.fzz_cms_dragarea-45 {
    width:140px !important;
}
/*end右侧盒子*/