{% load staticfiles %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<meta name="Keywords" content="视频直播,OTT TV,互联网电视,流媒体服务器,视频加速,m3u8加密,m3u8切片,m3u8切分,互联网教学,M3U8 Splite,M3U8 Segment,M3U8 Segmenter,m3u8 encrypt,TS切分,TS切片,HLS,HTTP Live Streaming,流媒体,IPTV,OTT,解决方案,solution,H.264,Encoder,Flash,rtmp"/>

<!-- InstanceEndEditable -->
{#<script type="text/javascript">#}
{#var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");#}
{#document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8e610b5a189b65911f287def400c7e96' type='text/javascript'%3E%3C/script%3E"));#}
{#</script>#}

<!-- InstanceBeginEditable name="head" -->

<link href="{% static "css/public.css" %}" type="text/css" rel="stylesheet"/>
<link href="{% static "css/index.css" %}" type="text/css" rel="stylesheet"/>
<link href="{% static "css/info.css" %}" type="text/css" rel="stylesheet"/>
<link href="{% static "css/index_add.css" %}" type="text/css" rel="stylesheet"/>
<link href="{% static "stylecss/yscss.css" %}" type="text/css" rel="stylesheet"/>
<style type="text/css">
	.index-area{width:100%; background:url(bg04.jpg) repeat-x top #fff; min-height:200px; height:auto!important; height:200px; padding-bottom:20px; padding-top:33px}
	.li1 div dl dd a{padding-right:20px;padding-top:10px;}
	.li1 div.b{padding:0;margin:0;float:left;}
	.wrapper1{width:100%;margin:0 auto;}
</style>
<script type="text/javascript" src="{% static "js/page_util1.js" %}"></script>
<!-- InstanceEndEditable -->
