{% load cms_tags staticfiles sekizai_tags menu_tags %}
{% load staticfiles  %}
<ul class="menu">

				<!--产品开始-->
				<li class="li2"><a href="#">产品</a>
{#				<li class="li2"><a href="#">{% placeholder 'top_menu1' %}</a>#}
					<div class="b">
						<div>
							<dl>
								<dt><a href="/products/media_server/products.html">流媒体服务器系统</a></dt>
								<dd><a href="/products/media_server/product_detail/media_server.html">NTV Media Server G3.6 流媒体服务器</a></dd>
								<dd><a href="/products/media_server/product_detail/transcode_server.html">NTV Transcode Server转码服务器</a></dd>
								<dd><a href="/products/media_server/product_detail/live_online.html">Live On Line直播管理平台</a></dd>
								<dd><a href="/products/media_server/product_detail/ntv_HDMCS.html">NTV-HDMCS 高清视频会议系统</a></dd>
							</dl>
							<dl>
								<dt><a href="/products/encode_vedio/products.html">直播设备和软件</a></dt>
								<dd><a href="/products/encode_vedio/product_detail/HDmulti_makelesson.html">全高清多画面录课和播控设备</a></dd>
								<dd><a href="/products/encode_vedio/product_detail/Portable_live_encoder.html">网络直播便携式编码器</a></dd>
								<dd><a href="/products/encode_vedio/product_detail/live_camera.html">网络直播摄像机</a></dd>
								<dd><a href="/products/encode_vedio/product_detail/live_encoder_pc.html">Windows平台直播软件</a></dd>
								<dd><a href="/products/encode_vedio/product_detail/live_encoder_android_iphone.html">Android/iOS平台直播软件</a></dd>
								<!--<dd><a href="/products/encode_vedio/product_detail/live_encoder_iphone.html">iOS平台直播软件</a></dd>-->
								<dd><a href="/products/encode_vedio/product_detail/atom1_h.264.html">NTV Atom1 H.264编码器</a></dd>
							</dl>
							<dl>
								<dt><a href="#">其他</a></dt>
								<dd><a href="/products/other_products/product_detail/hls_encrypt.html">HLS加密系统</a></dd>
								<dd><a href="/products/other_products/product_detail/hls_slice.html">HLS切片系统</a></dd>
								<dd><a href="/products/other_products/product_detail/tv_router.html">数字电视网关</a></dd>
							</dl>
							<div class="clear"></div>
						</div>
					</div>
				</li>
				<!--产品结束-->

				<!--解决方案开始-->
				<li class="li0"><a href="/solutions/solution1/solutions.html">解决方案</a>
					<div class="b">
						<div>
							<dl>
							<img src="http://www.ruiboyun.net/images/solution_small.png"/>
							</dl>
							<dl>
								<dt><a href="/solutions/solution1/solutions.html">解决方案</a></dt>
								<!--<dd><a href="/solutions/solution1/solution_detail/speedup.html">视频播出加速</a></dd>-->
								<dd><a href="/solutions/solution1/solution_detail/remote_education.html">互联网教学</a></dd>
								<dd><a href="/solutions/solution1/solution_detail/net_live.html">互联网现场直播</a></dd>
								<dd><a href="/solutions/solution1/solution_detail/net_tv.html">互联网电视/OTT TV</a></dd>
							</dl>
							<div class="clear"></div>

						</div>
					</div>
				</li>

				<!--解决方案结束-->



				<li class="li1"><a href="/cases/aopeng/aopeng.html">商用案例 </a>
					<div class="b">
						<div style="float:left;width:600px;height:310px;margin-top:20px;border-right:#ccc solid 1px;">
							<ul style="padding:0;">
								<li style="padding:0;">
									<a href="/cases/aopeng/aopeng.html">
									  <div class="imgc"><img src="http://www.ruiboyun.net/images/modi/aopeng.jpg" /></div>
									  <div>
										<span class="t"> 奥鹏远程教育</span>
									  </div>
									</a>
									<p class="p">奥鹏教育通过与云视睿博的技术合作，实现了在线视频远程教学。能够同时将老师的现场视频和实体课堂上听课学生的现场视频同时直播出去，以画中画的形式在远程学员的屏幕上呈现。</p>
								</li>
								<li style="padding:0;padding-left:30px;padding-top:28px;">
									<a href="/cases/data_link/data_link.html">
									<div class="imgc"><img src="http://www.ruiboyun.net/images/modi/global.jpg" /></div>
									<div>
									  <span class="t">America Global Data Link</span>
									</div>
									</a>

									<br/>
									<p class="p">Global Data Link使用云视睿博的HLS视频切片、视频加密和流媒体播出技术为其客户提供安全可靠的视频点播和直播服务，尤其是在处理CBS影片的切片和安全在线播出应用中，更是肯定了云视睿博产品的可靠性、规范性和易用性。</p>
								</li>
							</ul>
						</div>
						<div style="float:left;width:220px;margin:0;padding:0;padding-top:20px;padding-left:40px;">
							<dl>
								<dd>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/p01.jpg"   alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/h02.jpg"  alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/h03.jpg" alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/n04.jpg"  alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/t05.jpg"  alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/c06.jpg"  alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/z07.jpg"  alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/k08.jpg" alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/y09.jpg"  alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/g10.jpg"  alt="" /></a>
									<a href="javascript:void(0);" title=""><img  src="http://www.ruiboyun.net/images/modi/w11.jpg"  alt="" /></a>

									<a href="/client/partner.html" title=""style="padding-top: 20px;padding-left: 10px;color: #ff7800;font-size: 17px;">更多...</a>
								</dd>
							</dl>
						</div>
					</div>
				</li>

				<!--研发合作开始-->
				<li class="li3"><a href="/research_cooperation/research_cooperation.html">研发合作</a>
				<div class="b">
						<div>
							<ul>
								<li><a href="/research_cooperation/research_cooperation.html">
									<div>
										<h2 class="t">研发合作</h2>
									</div>
									</a>
									<p class="p">
									公司在多媒体编解码、流媒体播出和播放、数字版权保护、安全加密播出、互联网电视、视频会议、远程教育、移动终端开发等技术领域拥有深厚的人才储备和技术积累，形成了一批成熟的产品和解决方案。</p>
									<p class="p">云视睿博愿与科技企业、教育机构、政府机构、广电运营商、电信运营商等在这些领域内开展技术合作，实现互利共赢和共同发展。</p>
								</li>
							</ul>
						</div>
					</div>
				</li>

				<!--研发合作结束-->

				<li class="li4"><a href="/support/support.html">技术支持</a>
					<div class="b">
						<div>
						<img src="http://www.ruiboyun.net/images/support.jpg"/>
							<ul>
								<li style="float:left">
								<a href="/support/support.html">
									<div>
										<h2 class="t">技术支持</h2>
									</div>
									</a>
									<p class="p">电话支持&nbsp;&nbsp;&nbsp;&nbsp;400-088-9255</p>
									<p class="p">固定电话&nbsp;&nbsp;&nbsp;&nbsp;010-82895303</p>
									<p class="p">邮件支持&nbsp;&nbsp;&nbsp;&nbsp;service@novel-tv.com</p>
									<p class="p">QQ支持&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2539783387
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li class="li5"><a href="/about_us/about_us.html">关于我们</a>
					<div class="b">
						<div>
							<ul>
								<li><a href="/about_us/about_us.html">
									<div>
										<h2 class="t">关于我们</h2>
									</div>
									</a>
									<p class="p">
									北京云视睿博传媒科技有限公司（云视睿博）注册地点在北京海淀区上地信息产业基地中关村国际创业园，这里环境优美，人才济济，知名高等院校环绕，大型科技公司栉比相邻，有着深厚的科技和人文气息。
									</p>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>